<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<div class="container">
     <div class="col-mod-9">
        <br><h4><strong><%= pageTitle %></strong></h4>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Title</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Total Price</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <% let totalPrice = 0; for (let p of products) { %> 
                <tr>
                    <!--image and description/title-->
                    <th scope="row"><a href="/img/<%= p.img %>"><img style="width: 100px;" src="/img/<%= p.img %> "></a></th>
                    <td><strong><%= p.title %></strong></td>
                    <!--Decreasing and Increasing buttons-->
                    <td>
                        &nbsp;&nbsp;&nbsp;<%= p.quantity %>&nbsp;&nbsp;
                    <td>$<%= p.price %></td>
                    <!--Total price for each item in row-->
                    <td><strong>$<%= (p.quantity * p.price).toFixed(2) %></strong></td>
                    
                    <!--Gets total overall cost without any tax-->
                    <% totalPrice = totalPrice + (p.quantity * p.price) %>
                </tr>
                <% } %> 
                <tr>
                <td></td><td></td><td></td>
                <td><strong>Subtotal</strong><br>(NOT including tax or shipping)</td>
                <td><strong>$<%= totalPrice.toFixed(2) %></strong></td>
                <!--Total price with tax-->
                <% taxPrice = (totalPrice * .0625) + totalPrice %> 
                <td><strong>Standard Shipping $4.99</strong></td>
                </tr>
                <% shipping = 4.99 %> 
                <tr>
                <td><a href="/edit-cart" type="submit" class="btn white-text teal darken-4">Edit</a></td>
                <td></td><td></td>
                <td><strong>Total</strong><br>(including tax and shipping)</td>
                <td><strong>$<%= (taxPrice + shipping).toFixed(2) %></strong></td>
                <!--Checkout button-->
                <td><a href="/confirmation" type="submit" class="btn white-text teal darken-4">Complete Checkout</a></td>
                </tr>
            </tbody>
          </table>
     </div>
</div>

<%- include('layouts/footer.ejs') %>